* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 50%;
  }
  @include respond(tab-port) {
    font-size: 37.5%;
  }

  @include phone {
    font-size: 45%;
  }

  @include respond(big-desk) {
    font-size: 80%;
  }
}

.attribution {
  margin-top: 4.4rem;
  font-size: 1.4rem;
  color: #333;
  text-align: center;
}

.author {
  list-style: none;
  &:link,
  &:visited {
    text-decoration: none;
    font-size: 1.4rem;
    color: #222;
  }
}
