.u-margin-bottom-32 {
  margin-bottom: 3.2rem;
}

.u-margin-bottom-24 {
  margin-bottom: 3.2rem;
}

.u-margin-bottom-10 {
  margin-bottom: 1rem;
}

.u-margin-bottom-0 {
  margin-bottom: 0 !important;
}
